---
class: "style-guide"
---

<section class="theme-primary">

    <h1>primary theme</h1>
    <h2>h2 heading</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    </p>
    <img src="http://placehold.it/320/200" alt="" />
    <p><a href="">default link</a></p>
    <p><a class="focus-link" href="">focus link</a></p>

</section>

<section class="theme-secondary">

    <h1>secondary theme</h1>
    <h2>h2 heading</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    </p>
    <img src="http://placehold.it/320/200" alt="" />
    <p><a href="">default link</a></p>
    <p><a class="focus-link" href="">focus link</a></p>

</section>

<section class="theme-tertiary">

    <h1>tertiary theme</h1>
    <h2>h2 heading</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    </p>
    <img src="http://placehold.it/320/200" alt="" />
    <p><a href="">default link</a></p>
    <p><a class="focus-link" href="">focus link</a></p>

</section>