*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
button {
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.content-wrapper,
.main-footer {
    @media #{$medium} {
        margin: 0 auto;
        max-width: 900px;
        overflow: hidden;
    }
}

.main-heading {
    overflow: hidden;
    padding: 0.5em;
    @media #{$medium} {
        width: 30%;
        max-width: 200px;
        float: left;
    }
}

.main-content {
    padding: 10px;
    background: #cecece;
    color: #fff;
    min-height: 400px;
    @media #{$medium} {
        width: 70%;
        float: right;
        padding: 0.5em 1em;
    }
}

.section-1 {
    background: #00AEEF;
    color: #fff;
}

.section-2 {
    background: #8EA963;
    color: #fff;
}

.section-3 {
    background: #CC6601;
    color: #fff;
}

.about {
    padding: 0.5em 0.5em 0;
    @media #{$medium} {
        float: left;
        clear: left;
    }
}

.main-footer {
    font-size: 0.8em;
    padding: 0 0.5em;
    a {

    }
}
        