// themes
.theme {
    &-primary {
        @include linear-gradient($primaryLight, $primary);
        background-attachment: fixed;
        color: $primaryDark;
        h1, h2, h3 {
            color: $primaryDark;
        }
        // smaller text needs to be darker to pass contrast
        h4, h5, h6, p {
            color: darken($primary, 30%);
        }
        .sidebar {
            background-color: $primary;
            background-attachment: fixed;
        }
    }
    &-secondary {
        @include linear-gradient($secondaryLight, $secondary);
        background-attachment: fixed;
        color: $secondaryDark;
        h1, h2, h3 {
            color: $secondaryDark;
        }
        h4, h5, h6, p {
            color: darken($secondary, 30%);
        }
        .sidebar {
            background-color: $secondary;
            background-attachment: fixed;
        }
    }
    &-tertiary {
        @include linear-gradient($tertiaryLight, $tertiary);
        background-attachment: fixed;
        color: $tertiaryDark;
        h1, h2, h3 {
            color: $tertiaryDark;
        }
        h4, h5, h6, p {
            color: darken($tertiary, 30%);
        }
        .sidebar {
            background-color: $tertiary;
            background-attachment: fixed;
        }
    }
}