---
title: "Insomnia cartoons"
class: "cartoons"
theme: "theme-secondary"
layout: "cartoons.hbs"
group: insomniaCartoons
---
<p>"The best cure for insomnia is to get a lot of sleep."</p>
<img src="/assets/images/imsomnia/insomnia-6.jpg" alt="" class="cartoon">