<nav class="main-nav" data-section="{{ this.page.group }}">                
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/cartoons/">General cartoons</a>
        </li>
        <li>
            <a href="/bird-cartoons/">Bird cartoons</a>
        </li>
        <li>
            <a href="/insomnia-cartoons/">Insomnia cartoons</a>
        </li>
    </ul>
</nav>