<aside class="sidebar">
    <h2><a href="/">Title</a></h2>

    <nav class="main-nav">
        <ul>
            <li><a href="/cartoons/">General cartoons</a></li>
            <li><a href="/bird-cartoons/">Bird cartoons</a></li>
            <li><a href="/insomnia-cartoons/">Insomnia cartoons</a></li>
        </ul>
    </nav>
    <p><a href="https://twitter.com/grahamlicence/">Get in touch on Twitter</a></p>
</aside>