<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Dev test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/styles/main.css">
    <!-- <link rel="stylesheet" type="text/css" href="assets/styles/main.min.css"> -->
</head>
<body class="{{ this.page.theme }}">

    <div class="wrapper">

        {{>sidebar}}