
	</div>


    {{#if production}}
        <script src="assets/scripts/dist.min.js"></script>
    {{else}}
        <script src="../javascript/vendor/jquery-1.11.1.min.js"></script>
        <script src="../javascript/build/one.js"></script>
        <script src="../javascript/build/two.js"></script>
    {{/if}}
</body>
</html>