// colours
$primary: #00F3A3;          // green
$secondary: #1380F2;        // blue
$tertiary: #FF9900;         // yellow
$complementary: #FF5600;    // orange

$primary: #93D1E2;          // blue
$secondary: #1380F2;        // blue
$tertiary: #F3B802;         // yellow
$complementary: #014722;    // green

$grey: #585858;
$black: #1D1D1B;
$white: #E5E6E7;

// temp greyscale
// $primary: #cecece;          // green
// $secondary: #333;        // blue
// $tertiary: #222;         // yellow
// $complementary: #999;    // orange

$change: 25%;

$primaryDark: darken($primary, $change);
$primaryLight: lighten($primary, $change);

$secondaryDark: darken($secondary, 35%);
$secondaryLight: lighten($secondary, 35%);

$tertiaryDark: darken($tertiary, 35%);
$tertiaryLight: lighten($tertiary, 35%);

$complementaryDark: darken($complementary, $change);
$complementaryLight: lighten($complementary, $change);


// Breakpoints
$small: 'only screen and (min-width: 640px)';
$medium: 'only screen and (min-width: 768px)';
$large: 'only screen and (min-width: 1024px)';