// Colours
$primary: #00AEEF;          // blue
$secondary: #8EA963;        // green
$tertiary: #CC6601;         // orange

$grey: #585858;
$black: #1D1D1B;
$white: #E5E6E7;

$change: 25%;

$primaryDark: darken($primary, $change);
$primaryLight: lighten($primary, $change);

$secondaryDark: darken($secondary, 35%);
$secondaryLight: lighten($secondary, 35%);

$tertiaryDark: darken($tertiary, 35%);
$tertiaryLight: lighten($tertiary, 35%);

// Breakpoints
$small: 'only screen and (min-width: 640px)';
$medium: 'only screen and (min-width: 768px)';
$large: 'only screen and (min-width: 1024px)';