---
title: "Cartoons"
class: "cartoons"
theme: "theme-secondary"
layout: "cartoons.hbs"
cartoon: true
group: "cartoons"
cartoonTitle: "Cartoons"
posted: 2014-01-01
---

<section>
    <h1>Cartoons</h1>

    <p>Selection of daily cartoons..</p>
</section>

