---
title: "Cartoons"
class: "cartoons"
theme: "theme-secondary"
---

<section>
    <h1>Cartoons</h1>

    <p><a href="bird">Bird cartoons</a></p>
    <p><a href="insomnia">Insomnia cartoons</a></p>
</section>