<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <div class="container">
      <section id="validate"></section>
      <div class="row">
        <!-- Column: sidebar -->
        <div class="col-md-3">
          <div class="bs-sidebar hidden-print" role="complementary">
            <!-- pagination -->
          </div>
        </div>
        <!-- Column: content -->
        <div class="col-md-9" role="main">
          <div class="docs-section">
            <div class="docs-header" id="content">
                {{page.title}}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>