{{>site-header}}
        
        <main class="main-content main-1">
	        {{#markdown}} 
	          {{> body}} 
	        {{/markdown}}
        </main>

    	{{>sidebar}}
    	
    </div>

{{>site-footer}}