{{>site-header}}

        <main class="main-content main-1 {{ this.page.class }}">
            {{#markdown}} 
              {{> body}} 
            {{/markdown}}
        </main>
        
    	{{>sidebar}}

{{>site-footer}}